apiVersion: v1
kind: ConfigMap
metadata:
  name: n8n-config
data:
  N8N_HOST: {{ printf "%s.%s" .Values.subdomain .Values.domainName | quote }}
  N8N_PORT: {{ .Values.n8n.port | quote }}
  WEBHOOK_URL: {{ printf "https://%s.%s" .Values.subdomain .Values.domainName | quote }}
  N8N_DIAGNOSTICS_ENABLED: {{ .Values.n8n.diagnosticsEnabled | default false | quote }}
  N8N_ENFORCE_SETTINGS_FILE_PERMISSIONS: {{ .Values.n8n.enforceSettingsFilePermissions | default true | quote }}
  N8N_SECURE_COOKIE: {{ .Values.n8n.secureCookie | default true | quote }}
  N8N_DEFAULT_BINARY_DATA_MODE: {{ .Values.n8n.defaultBinaryDataMode | default "database" | quote }}

  #QUEUE CONFIG
  EXECUTIONS_MODE: {{ .Values.n8n.executionsMode | default "queue" | quote }}
  QUEUE_BULL_REDIS_HOST: {{ .Values.redis.host | quote }}
  QUEUE_BULL_REDIS_PORT: {{ .Values.redis.port | quote }}
  QUEUE_HEALTH_CHECK_ACTIVE: "true"
  OFFLOAD_MANUAL_EXECUTIONS_TO_WORKERS: {{ if eq .Values.n8n.executionsMode "queue" }}"true"{{ else }}"false"{{ end }}

  #RUNNERS CONFIG
  N8N_RUNNERS_ENABLED: {{ if eq .Values.n8n.executionsMode "queue" }}"true"{{ else }}"false"{{ end }}
  N8N_RUNNERS_MODE: "external"
  N8N_RUNNERS_TASK_BROKER_PORT: {{ .Values.n8n.runners.taskBrokerPort | default 5679 | quote }}
  N8N_RUNNERS_BROKER_LISTEN_ADDRESS: {{ .Values.n8n.runners.brokerListenAddress | default "0.0.0.0" | quote }}

  #GENERAL CONFIG
  GENERIC_TIMEZONE: {{ .Values.timezone | quote }}
  TZ: {{ .Values.timezone | quote }}
  NODE_ENV: {{ .Values.nodeEnv | default "production" | quote }}

  #DATABASE CONFIG
  DB_TYPE: {{ .Values.database.type }}
  DB_POSTGRESDB_HOST: {{ .Values.database.host }}
  DB_POSTGRESDB_PORT: {{ .Values.database.port | quote }}
  DB_POSTGRESDB_DATABASE: {{ .Values.database.databaseName }}
  DB_POSTGRESDB_USER: {{ .Values.database.user }}

  #ENV FOR POSTGRES
  POSTGRES_HOST: {{ .Values.database.host }}
  POSTGRES_PORT: {{ .Values.database.port | quote }}
  POSTGRES_DB: {{ .Values.database.databaseName }}
  POSTGRES_USER: {{ .Values.database.user }}
